<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <script src="./vue.min.js"></script>
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Noto+Serif:wght@400;700&display=swap"
      rel="stylesheet"
    />
    <link rel="stylesheet" href="./style.css" />
    <title>Techno</title>
  </head>
  <body>
    <div id="app">
      <header class="header">
        <img class="logo" src="./assets/techno.svg" alt="Techno" />
        <div class="car-menu" @click="carActive = true">
          {{ carTotal | numberPrice}} | {{car.length}}
        </div>
      </header>

      <section class="products">
        <div
          v-for="item in products"
          :key="item.id"
          class="product"
          @click="openModal(item.id)"
        >
          <img :src="item.img" :alt="item.name" class="product-img" />
          <div class="product-info">
            <span class="product-price">{{ item.price | numberPrice }}</span>
            <h2 class="product-title">{{item.name}}</h2>
          </div>
        </div>
      </section>

      <section class="modal" v-if="product" @click="closeModal">
        <div class="modal-container">
          <div class="modal-img">
            <img :src="product.img" :alt="product.name" />
          </div>
          <div class="modal-data">
            <button @click="product = false" class="modal-close">X</button>
            <span class="modal-price"> {{product.price | numberPrice}} </span>
            <h2 class="modal-title">{{product.name}}</h2>
            <p>{{product.description}}</p>
            <button
              v-if="product.inventory > 0"
              class="modal-btn"
              @click="addItem"
            >
              Adicionar item
            </button>
            <button v-else class="modal-btn sold-out" disabled>
              Produto Esgotado
            </button>
          </div>
          <div class="reviews">
            <ul>
              <li v-for="review in product.reviews" class="review">
                <p class="review-description">{{review.description}}</p>
                <p class="review-user">
                  {{review.name}} | {{review.stars}} estrelas
                </p>
              </li>
            </ul>
          </div>
        </div>
      </section>

      <section
        class="car-modal"
        :class="{active: carActive}"
        @click="closeCarModal"
      >
        <div class="car-container">
          <button class="car-close" @click="carActive = false">X</button>
          <h2 class="car-title">Carrinho</h2>
          <div v-if="car.length > 0">
            <ul class="car-list">
              <li v-for="(item,index) in car" class="car-item">
                <p>{{item.name}}</p>
                <p class="car-price">{{item.price | numberPrice}}</p>
                <button class="car-remove" @click="removeItem(index)">X</button>
              </li>
            </ul>
            <p class="car-total">{{ carTotal | numberPrice}}</p>
            <button class="car-finished">Finalizar compra</button>
          </div>
          <p v-else>O carrinho está vazio</p>
        </div>
      </section>

      <div class="alert" :class="{active: alertActive}">
        <p class="alert-message">{{messageAlert}}</p>
      </div>

      <footer>
        <p>© 2021 - Sávio Nascimento</p>
        <div class="links">
          <a href="https://github.com/savionascimentodev" target="_blank">
            <img
              class="logo"
              src="./assets/github-logo_icon-icons.com_73546.svg"
              alt="Techno"
            />
          </a>
          <a
            href="https://www.linkedin.com/in/savio-nascimento/"
            target="_blank"
          >
            <img
              class="logo"
              src="./assets/linkedin_icon-icons.com_65929.svg"
              alt="Techno"
            />
          </a>
        </div>
      </footer>
    </div>
    <script src="./app.js"></script>
  </body>
</html>
